@font-face {
  font-family: 'optimaregular';
  src: url('../fonts/optima-webfont.eot');
  src: url('../fonts/optima-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/optima-webfont.woff2') format('woff2'),
       url('../fonts/optima-webfont.woff') format('woff'),
       url('../fonts/optima-webfont.ttf') format('truetype'),
       url('../fonts/optima-webfont.svg#optimaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'optimaregular';
  background-color: #fff;
  background: url(../images/little_pluses.png) repeat;
  width: 100%;
}

.account_wrap button,
.account_wrap button:hover,
.account_wrap button:focus{
    color: #fff !important;
}

.icons-wrap a {
    color: #fff;
}
.header_wrap{
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.35);
}
.border-none{
    border: 0px !important;
}
.bg-orange{
	/*background-color: #ff8a65;*/
	/*background-color: #FF7043;*/
	/*background-color: #E57373;*/
	/*background-color: #EF9A9A;*/
	/*background-color: #1d569a;*/
	background-color: #92a4ac;
}
.footer_wrap {
	background-color: #f2f2f2;
	background-image: none;
}
.circle-icon {
  border: 0;
  line-height: 23px;
  text-align: center;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
}
.custom-btn {
  border-radius: 6px;
}
.breadcrums-wrapper > ol > li + li::before {
  color: #31383e;
}
.pagination-wrapper .pagination li a {
  color: #31383e;
}
.custom-btn {
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}
.custom-btn:hover {
  background-color: #c3c3c3;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}
.custom-submit-btn {
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}
.custom-submit-btn:hover {
  background-color: #4d5250;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}