.m-none {
    margin: 0px !important;
}
.width-10{
    width: 10% !important;
}
.width-15{
    width: 15% !important;
}
.width-90{
    width: 90% !important;
}
.view-page-title{
    margin-bottom: 20px;
    margin-top: 10px !important;
}
.search-student-form .form-control{
    height: 32px;
}
.search-student-form .tokenize-select{
    width: 100%;
}

.view-record-form{
    width: 100%;
}
.table-records-wrapper{
    padding: 0px 15px;
}
.custom-record-table i.fa{
    padding-right: 5px;
}
.custom-record-table >thead > tr > th:last-child,
.custom-record-table >tbody > tr > td:last-child {
    text-align: center !important;
}
.action-link {
    color: #31383e !important;
    margin: 0px 3px;
}
.custom-add-bordered-btn {
    padding: 6px 12px;
    margin: 10px 10px 0px 0px;    
    border-radius: 0px;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.custom-add-bordered-btn:hover, .custom-add-bordered-btn:focus  {
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.add-more-right{
    text-align: right;
    float: left;
}
.custom_btn {
    border-radius: 0;
    border-radius: 0;
    margin-right: 0;
    margin-left: 10px;
}
.custom-save-btn {
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
/* error */

/*.custom_datepicker span.error{
    position: absolute;
    left: 0;
    top: 32px;
}*/

.btn-gray{
    background-color: #f0f0f0;
}
@media screen and (max-width: 1200px){
    
}
@media screen and (max-width: 991px){
    .revenue-table-form .search-box{
        min-width: 75% !important;
    }
}
@media screen and (max-width: 768px){
    .revenue-table-form .search-box{
        min-width: 50% !important;
    }
    .add-more-right{
        margin-bottom: 10px;
    }
    .add-more-right >button{
        margin-top: 10px !important;
    }
    .select-entries{
        min-width: 50px !important;
        width: 70px;
    }
    .btns-wrapper .custom-submit-btn{
        margin-bottom: 10px;
    }
    
   
   
}
@media screen and (max-width: 580px){

}